In [1]:
import numpy as np

NumP_Array = np.array([[1,2,3],[4,5,6]])
NP1 = np.array([[1,3],[4,5]])
NP2 = np.array([[3,4],[5,7]])

MNP = NP1@NP2    #matrix
#or
MNP3 = np.dot(NP1, NP2)

In [2]:
#Multiplication
MNP2 = NP1*NP2
#or
MNP4 = np.multiply(NP1, NP2)

In [3]:
#Sum & Subtraction
Sum1 = NP1 + NP2
Sub1 = NP1 - NP2
Sub2 = np.subtract(NP1, NP2)
El_sum = np.sum(NP1)
Broad_Nump = NP1 + 3
NP3 = np.array([3,4])
NP1 + NP3

array([[4, 7],
       [7, 9]])

In [4]:
#Division
D = np.divide([12,14,16],5)    #float
D1 = np.floor_divide([12,14,16],5)    #integer
Sq = np.math.sqrt(9)

In [5]:
#random
ND = np.random.standard_normal((3,4))
UD = np.random.uniform(1,12,(3,4))
NDf = np.random.rand(3,4)    #float
Random_Ar = np.random.randint(1,50,(2,5))   #integer
Ze = np.zeros((3,4))
One = np.ones((3,4))

In [6]:
#Logics
Filter_Ar = np.logical_and(Random_Ar>30, Random_Ar<50)
F_Filter_Ar = Random_Ar[Filter_Ar]

Data_N = np.array([1,3,4,5,7,9])    #Single aaray
Mean_N = np.mean(Data_N)
Median_N = np.median(Data_N)
Var_N = np.var(Data_N)
SD_N = np.std(Data_N)

Nump_Array = np.array([[1,2,3],[4,5,6]])
Var_Nump = np.var(Nump_Array,axis=1)    #Column
Var_Nump2 = np.var(Nump_Array,axis=0)   #Rows

In [7]:
import pandas as pd

Age = pd.Series([10, 20, 30, 40], index=['age1', 'age2', 'age3', 'age4'])